* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* added google fonts */

body {
    font-family: "Quicksand", serif;
    background-color: #F7F7F7;
}

section {
    margin: 0 140px;
}

/* Shared Styles */
.orange {
    color: #FEA301;
}

.sky-blue {
    color: #01ACFD;
}

p {
    color: #808080;
}

button {
    cursor: pointer;
}

/* Banner section styles */
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.banner-content h3 {
    font-size: 3.5rem;
    line-height: 61px;
    margin-bottom: 1.5rem;
}

.banner-content p {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
}

.enroll-btn {
    font-size: 1.25rem;
    font-weight: 600;
    color: #FFFFFF;
    background-color: black;
    border-radius: 12px;
    width: 197px;
    height: 50px;
}

.banner-img img {
    max-width: 100%;
}

/* Curriculum Section Style */

.curriculm {
    background-image: url(./assets/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 140px;
}

.curriculm-container {
    margin-bottom: 80px;
}

.curriculm-container img {
    max-width: 100%;
}

.curriculm h3 {
    font-size: 2.875rem;
    font-weight: 600;
    text-align: center;
    margin: 60px auto;
}

.curriculm-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.curriculum-card1 {
    background-image: linear-gradient(180deg, #DEF5FF,10%, #FFFFFF);
    border: 1px solid #DEF5FF;
    border-radius: 18px;
    padding: 50px 24px;
}

.curriculum-card2 {
    background-image: linear-gradient(180deg, #FFF4DC,10%, #FFFFFF);
    border: 1px solid #FFF4DC;
    border-radius: 18px;
    padding: 50px 24px;
}

.curriculum-card3 {
    background-image: linear-gradient(180deg, #F2E8FF,10%, #FFFFFF);
    border: 1px solid #F2E8FF;
    border-radius: 18px;
    padding: 50px 24px;
}

.curriculm-container h4 {
    font-size: 1.5rem;
    margin: 30px 0;
}

.curriculm-container p {
    line-height: 28px;
    margin-bottom: 30px;
}

.curriculm-container button {
    font-size: 1rem;
    border: none;
    background-color: transparent;
    font-weight: 600;
}

.curriculum-card1 button {
    color: #64C8FF;
}

.curriculum-card2 button {
    color: #F0AA00;
}

.curriculum-card3 button {
    color: #8700FF;
}

/* Story Section Styles */
.story {
    margin: 0 140px;
}
.story-container {
    display: grid;
    grid-template-columns: 50% repeat(2, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.story-container img {
    max-width: 100%;
    border-radius: 16px 16px 0 0;
    
}

.story-card1 {
    grid-row: 1 / span 2;
}

.story-card1,
.story-card2,
.story-card3,
.story-card4,
.story-card5 {
    background-color: #FFFFFF;
    border-radius: 16px;
}

/* Footer Styles */
footer {
    background-color: #01ACFD;
    margin-top: 100px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    margin: 0 140px;
    padding: 100px 0;
    color: #FFFFFF;
    
}

.brand-content {
    width: 350px;
}

.brand-content p {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 300;
}

.logo {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
}

.logo img {
    max-width: 100%;
    padding-right: 20px;
}

.logo h3 {
    font-size: 2rem;
    font-weight: 600;
}

.logo img {
    color: #FFFFFF;
}

.about h4 {
    margin-bottom: 20px;
}

.about ul li {
    list-style: none;
    padding: 10px 0;
}

.social h4 {
    margin-bottom: 20px;
}

/* Media query for small devices */
@media screen and (max-width: 576px) {
    body {
        margin: 0 16px;
        background-color: #F7F7F7;
    }

    .banner-container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .banner-content h3 {
        font-size: 2rem;
        line-height: 40px;
    }

    .curriculm {
        margin: 150px 16px;
    }

    .curriculm h3 {
        font-size: 1.625rem;
    }

    .curriculm-container, .footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
    }


    
}

